<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vicker.permission.helper">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".TransparentActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>